extends includes/layout 
block content 
  .hero-article(style=`background:url(/images/hero-${article.category}.jpg) rgba(0,0,0,0.4)`)
    .container.h-100.d-flex.flex-column.justify-content-center.align-items-center
      h1.text-light.text-center=article.title
  .container.py-5.article-container
    h1.article-title.mb-5.text-center=article.title
      span.ms-2(style="font-size:0.9rem") by #{article.author || "Author unknown"}
    .img.text-center
      img.mb-5.rounded-1.border(src=`/uploads/${article.imagePath}` alt="article image" style="max-width:700px; max-height:700px;")
    .container-850
      !=article.content
      .card(style="cursor:initial").bg-transparent.border-1.border-primary.border-round.col-lg-6.mt-4 
        .card-body
          .card-text Created on #{formatedDate} by #{article.author || "Unkown"}